body {
  background: #111;
  color: #fff;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.screen {
  padding: 20px;
}

.hide {
  display: none;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: red;
  color: #fff;
  font-weight: bold;
}

.group-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #222;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.group-icon {
  width: 50px;
  height: 50px;
}

.exercise-img {
  width: 150px;
  display: block;
  margin-bottom: 10px;
}
